# Node.js
node_modules/
npm-debug.log
yarn-error.log

# System
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Temporary files
*.tmp
*.temp
.tempmediaStorage/
